doctype html

html
	head
		meta(charset = "utf-8")

		meta(name = "theme-color", content = "#214560")

		title K-16

		link(href = "/main.css",                                      rel = "stylesheet", type = "text/css")
		link(href = "/libs/lg/css/lightgallery.css",                  rel = "stylesheet", type = "text/css")
		link(href = "/libs/slick/slick.css",                          rel = "stylesheet", type = "text/css")
		link(href = "/libs/slick/slick-theme.css",                    rel = "stylesheet", type = "text/css")
		link(href = "/libs/font-awesome/css/fontawesome-all.min.css", rel = "stylesheet", type = "text/css")

	body
		script var parts = [];

		nav
			a(href = "/#!/main/")
				img.logo(src = "/img/logo.svg")

			ul.list-nav

			button.burger-list ☰

		#root
			#container
				main


		//- SCRIPTS

		//- Babel polyfill
		script(src = "/libs/babel-polyfill.js")

		//- VK
		script(type = "text/javascript", src = "https://vk.com/js/api/openapi.js?154")

		//- JQuery
		script(src = "/libs/jquery.js")
		script(src = "/libs/jquery-migrate.js")

		//- slick
		script(src = "/libs/slick/slick.js")

		//- lightGallery
		script(src = "/libs/lg/js/lightgallery.js")
		script(src = "/libs/lg/thumbnail.js")

		//- mithril.js
		script(src = "/libs/mithril.js")

		//- run
		script(src = "/app.js")
		script require("main.coffee")
